// .outer {
//     margin-top: 200px;
//     margin-left: 400px;
// }

.login {
    float: right;
}

.error {
    color: red;
}

.outer {
    background-image: url('../../assets/images/pic12.jpg');
    height: 770px;
    width: 900px;
    background-position: center;
    background-size: cover;
    margin: 0px;
    min-height: 100%;
    margin-top: 0px;
    width: 100%;


}

