
.card-product{
    border: 2px solid black;
    margin: 50px;
}
.back{
    float: right;
    margin-right: 70px;
    width: 100px;
    height: 40px;
}
.card-product{
    background-image: url('../../assets/images/pic5.jpg');
    height: 700px;
     width: 900px;
    background-position: center ;
    background-size: cover;
    margin: 0px;
    min-height: 100%;
    margin-top: 0px;
    width: 100%;
   
}
th,td{
    font-size: 25px;
}
nav{
    background-color:rgb(61, 57, 57)
}
h1{
    color: white;
}