<nav class="navbar">
    <h1>Booking History</h1>
    <button class="back" (click)="back()">Back</button>
</nav>
<div class="card-product">
    <table class="table table-striped">
        <thead>
            <th>Event Name</th>
            <th>Date</th>
            <th>Timings</th>
            <th>Food</th>
            <th>Photography</th>
            <th>Decoration</th>
        </thead>
        <tbody>
            <tr *ngFor="let history of list">
                <td>{{history.event_name}}</td>
                <td>{{history.event_date.slice(0,10)}}</td>
                <td>{{history.event_time}}</td>
                <td>{{history.food}}</td>
                <td>{{history.photography}}</td>
                <td>{{history.decoration}}</td>
            </tr>
        </tbody>
    </table>
</div>