.img1{
    float: left;
    margin-left: 50px;
}
.img2{
margin-left: 40px;
}


.img3{
float: right;
margin-right: 50px;
}
img{
    width: 370px;
    height: 250px;
}
.info{
margin-top: 50px;
margin-left: 500px;
}