<div class="card-product">
    <table class="table table-striped">
        <thead>
            <th>Id</th>
            <th>Event Name</th>
            <th>Date</th>
            <th>Timings</th>
            <th>Features</th>
            <th>Edit</th>
        </thead>
        <tbody>
            <tr *ngFor="let history of list">
                <td>{{history._id}}</td>
                <td>{{history.event_name}}</td>
                <td>{{history.event_date.slice(0,10)}}</td>
                <td>{{history.event_time}}</td>
                <td>{{history.features}}</td>
                <td>{{history.organiser}}</td>
                <td><button  class="btn btn-info"  [routerLink]="['/update-edit',history._id]">Edit</button></td>
            </tr>
        </tbody>
    </table>
</div>
<button class="back" (click)="back()">Back</button>