<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <h2>Event Management System</h2>
    <h1></h1>
    <button class="logout" (click)="logout()">Logout</button>
</nav>

<ng-container *ngIf="role=='user'">
    <div class="container">    
        <div class="card">
            <img class="card-img-top" (click)="history()" src="assets/images/pic16.jpg" alt="Card image cap">
            <div  class="first-txt"><strong>Booking History</strong></div>
        </div>
        <div class="card">
            <img class="card-img-top"(click)="event()" src="assets/images/pic15.jpg" alt="Card image cap">
            <div  class="first-txt"><strong>Book Event</strong></div>
        </div>
        
    </div>
</ng-container>

<ng-container *ngIf="role!='user'">
    <div class="container"> 
        <div class="card">
            <img class="card-img-top" (click)="history()" src="assets/images/pic8.jpg" alt="Card image cap">
            <div  class="first-txt"><strong>Booking History</strong></div>
        </div>
        <div class="card">

            <img class="card-img-top" (click)="organizer()" src="assets/images/pic9.jpg" alt="Card image cap">
            <div  class="first-txt"><strong>Assign Organsier</strong></div>
        </div>
        <div class="card">

            <img class="card-img-top" (click)="edit()" src="assets/images/pic10.jpg" alt="Card image cap">
            <div  class="first-txt"><strong>Edit Features</strong></div>
        </div>
        <div class="card">

            <img class="card-img-top" (click)="addFeatures()" src="assets/images/pic11.jpg" alt="Card image cap">
            <div  class="first-txt"><strong>Add Features</strong></div>
        </div>
        <div class="card">

            <img class="card-img-top" (click)="editEventDetails()" src="assets/images/pic13.jpg" alt="Card image cap">
            <div  class="first-txt"><strong> Edit Event with Details</strong></div>
        </div>
        <div class="card">

            <img class="card-img-top" (click)="addEventDetails()" src="assets/images/pic14.jpg" alt="Card image cap">
            <div  class="first-txt"><strong>Add Event with Details</strong></div>
        </div>
        <!-- <div>
            <button class="button" (click)="organizer()">Assign Organsier</button>
        </div>
        <div>
            <button class="button" (click)="edit()">Edit Features</button>
        </div>
        <div>
            <button class="button" (click)="addFeatures()">Add Features</button>
        </div> -->

    </div>
</ng-container>




