div{
    padding: 20px;
}
.outer{
    border: 2px solid black;
    width: 550px;
    margin-top: 100px;
    margin-left: 400px;
}
.button{
    width:400px;
    height: 70px;
    margin-left: 25px;
    background-color: brown;
    color: white;
    font-size: 40px;
}
.logout{
    margin-left: 750px;
    width: 120px;
}
// .container{
//     background-image: url('../../assets/images/pic1.jpg');
//     height: 710px;
//      width: 900px;
//     background-position: center ;
//     background-size: cover;
//     // margin: 0px;
//     min-height: 100%;
//     // margin-top: 0px;
//     width: 100%;
   
// }