.add{
    margin-left: 870px;
    }
    .features{
        border: 2px solid black;
        margin: 50px;
    }
    .back{
        margin-right:20px;
    }
    .features{
        background-image: url('../../assets/images/pic7.jpg');
        height: 700px;
         width: 900px;
        background-position: center ;
        background-size: cover;
        margin: 0px;
        min-height: 100%;
        margin-top: 0px;
        width: 100%;
    }
    table,tr,td,thead{
        border:none;
       }
    th,td{
        font-size: 30px;
        color: white;
    }
    nav{
        background-image: linear-gradient(to right, rgb(67, 47, 185) , rgb(227, 104, 203));
    }
    h1{
        color: white;
    }