<div class="events">

    <ng-container *ngIf="lengthToken!=105">
        <h1>Available Events<button [routerLink]="['/first']" type="submit" class="btn btn-primary">Back</button></h1>
        <table class="table">
            <thead>
                <th>Feature</th>
                <th>Details</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of displayEvent">
                    <td>
                        <h2>{{item.feature}}</h2>
                    </td>
                    <td>{{item.details}}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>

    <ng-container *ngIf="lengthToken===105">
        <h1>Available Events<button [routerLink]="['/home']" type="submit" class="btn btn-primary">Back</button></h1>
        <table class="table">
            <thead>
                <th>Feature</th>
                <th>Details</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of displayEvent">
                    <td>
                        <h2>{{item.feature}}</h2>
                    </td>
                    <td>{{item.details}}</td>
                    <td><button class="btn btn-info" [routerLink]="['/editEventDetails',item._id]">Edit</button></td>
                    <td><button class="btn btn-danger" (click)="delete(item._id)">Delete</button></td>

                </tr>
            </tbody>
        </table>
    </ng-container>


</div>