.outer{
    margin-top: 50px;
    margin-left: 400px;
}
select{
    width: 100%;
    height: 40px;
}
.submit{
    margin-left: 240px;
}
small{
    color: red;
}
input{
    width: 100%;   
    height: 40px;
}