<div class="outer">
    <div class="boder bg-secondary text-white w-50 p-4">
        <form [formGroup]="eventForm">
            <div class="form-group">
                <label>Event Name</label>
                <input type="text" formControlName="event_name" name="event_name" (change)="trackNameChange()">
                <span *ngIf="event_name.hasError('required') && event_name.touched" class="error"><small>event_name is
                        required</small></span>
                <span *ngIf="event_name.hasError('pattern')" class="error"><small>event_name must contain only
                        alphabets</small></span>
            </div>
            <div class="form-group">
                <label>Event Date</label>
                <input type="date" min="{{minDate}}" formControlName="event_date" (change)="trackDateChange()"
                    name="event_date">
                <span *ngIf="event_date.hasError('required') && event_date.touched" class="error"><small>event_date is
                        required</small></span>
            </div>
            <div class="form-group">
                <label>Event Timings</label>
                <input type="text" formControlName="event_time" name="event_time" (change)="trackTimeChange()">
                <span *ngIf="event_time.hasError('required') && event_time.touched" class="error"><small>event_time is
                        required</small></span>
            </div>
            <div class="form-group">
                <label for="photo">Do you want Photography?</label>
                <select (change)="trackPhotoChange()" name="photography" formControlName="photography">
                    <option value="" hidden>Choose yes/no</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
                <span *ngIf="photography.hasError('required') && photography.touched" class="error"><small>photography
                        is required</small></span>
            </div>
            <div class="form-group">
                <label for="role">Do you want Food?</label>
                <select (change)="trackFoodChange()" name="food" id="food" formControlName="food">
                    <option value="" hidden>Choose yes/no</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
                <span *ngIf="food.hasError('required') && food.touched" class="error"><small>food is
                        required</small></span>
            </div>

            <div class="form-group">
                <label for="decoration">Do you want decoration?</label>
                <select (change)="trackDecorationChange()" name="decoration" id="decoration"
                    formControlName="decoration">
                    <option value="" hidden>Choose yes/no</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
                <span *ngIf="decoration.hasError('required') && decoration.touched" class="error"><small>decoration is
                        required</small></span>
            </div>

            <div class="form-group" *ngIf="role!='user'">
                <label>Event Organzier</label>
                <input (change)="trackOranginserChange()" type="text" name="organiser" formControlName="organiser"
                    id="organiser">
                <span *ngIf="organiser.hasError('required') && organiser.touched" class="error"><small>organiser is
                        required</small></span>
            </div><br>

    
            <div> 
            <label>Example label</label>
            <select class="select" name="select" formControlName="select" id="select" multiple>
                    <option *ngFor="let item of featuresList" [value]="item.name">   {{item.name}}</option>
            </select>

            </div>


            <button (click)="backButton()" type="submit" class="btn btn-primary">Back</button>
            <button [disabled]="eventForm.invalid" (click)="tableDisplay(eventForm)"
                class="submit btn btn-primary">Submit</button>

        </form>
    </div>
</div>