.inner {
    margin-top: 100px;
    margin-left: 410px;
    width: 550px;
    opacity: 85%;
    background-color: rgb(138, 136, 136);
}
.outer{
    background-image: url('../../assets/images/pic17.jpg');
    height: 765px;
    width: 100%;
    background-position: center ;
    background-size: cover;
    padding: 10px;
}
select {
    width: 100%;
    height: 40px;
}

.submit {
    margin-left: 240px;
}

small {
    color: red;
}

input {
    width: 100%;
    height: 40px;
}
.select{
    height: 100px;
}
