
.login-div{
    background-image: url('../../assets/images/pic3.jpg');
    height: 770px;
     width: 900px;
    background-position: center ;
    background-size: cover;
     margin: 0px;
    min-height: 100%;
    margin-top: 0px;
    width: 100%;
   
}
a:hover{
    background-color: #000;
}
div{
    margin-top:25px;
    margin-left:290px;
}
input{
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
    color: black;
    width: 100%;
    height:50px;
}
.back{
    float: right;
    color: white;
}
label{
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
    color: gold
}

select{
    width: 98%;
    height: 50px;
    margin-left: 15px;
}
h3{
    text-align: center;
    font-weight: bold;
    color: gold;
    margin: 0%;
    color: white;
}
button{
    background-color: white;
    width: 25%;
    color: #000;
    margin-left: 180px;
}
.boder{
     background-color:rgb(86, 83, 83);
    
}
